<h1>Rock</h1>
<p>You chose Rock.</p>
<p>The computer chose <%= @computer_move %>.</p>
<p><strong><%= @result %></strong></p>

<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'Play Rock', rock_path %></p>
<p><%= link_to 'Play Paper', paper_path %></p>
<p><%= link_to 'Play Scissors', scissors_path %></p>
